<section class="hero py-16">
    <div class="px-14 mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>
<section id="menu" class="menu px-20 mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach(function(pizza) { %>
            <div class="w-full md:w-64">
                <% if(pizza.image[0]) { %>
                    <img class="h-40 mb-4 mx-auto" src="/uploadedImages/<%= pizza.image[0].img %>" alt="">
                    <% } else { %>
                        <span align="center" class="inline-block pb-40 mx-2 font-bold text-xl">No Image Found</span>
                        <% } %>
                            <div class="text-center">
                                <h2 class="mb-4 text-lg">
                                    <%= pizza.name %>
                                </h2>
                                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                                <div class="flex items-center justify-around mt-6">
                                    <span class="font-bold text-lg">₹<%= pizza.price %></span>
                                    <% if(user) {%>
                                        <% if(user.role == 'customer') {%>
                                            <button data-pizza="<%= JSON.stringify(pizza) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                                <span class="text-white">+</span>
                                                <span class="ml-4 text-white">Add</span>
                                            </button>
                                            <% } %>
                                                <% } %>

                                </div>
                                <div class="rating mx-auto mt-5">
                                    <input type="hidden" name="<%= pizza.rating %>" id="showI-input" value="pd_<%= pizza._id %>">
                                    <span class="rating__result"></span>
                                    <div id="show-i">
                                        <i class="pd_<%= pizza._id %> disabled_star rating__star far fa-star" style="cursor: default;"></i>
                                        <i class="pd_<%= pizza._id %> disabled_star rating__star far fa-star" style="cursor: default;"></i>
                                        <i class="pd_<%= pizza._id %> disabled_star rating__star far fa-star" style="cursor: default;"></i>
                                        <i class="pd_<%= pizza._id %> disabled_star rating__star far fa-star" style="cursor: default;"></i>
                                        <i class="pd_<%= pizza._id %> disabled_star rating__star far fa-star" style="cursor: default;"></i>
                                    </div>
                                </div>
                                <% if(user) {%>
                                    <% if(user.role == 'customer') {%>
                                        <div class="mb-5">
                                            <span class="rate-span cursor-pointer">Rate this Product</span>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <div class="rate-now rating mx-auto mt-5 mb-7" style="display: none;">
                                                    <form id="rate-form" action="/update-rating" method="POST">
                                                        <input type="hidden" name="pdID" id="pdID" value="<%= pizza._id %>">
                                                        <input type="hidden" name="rate" id="rate">
                                                    </form>
                                                    <span class="rating__result result"></span>
                                                    <div id="form-i">
                                                        <i class="rating__star star far fa-star"></i>
                                                        <i class="rating__star star far fa-star"></i>
                                                        <i class="rating__star star far fa-star"></i>
                                                        <i class="rating__star star far fa-star"></i>
                                                        <i class="rating__star star far fa-star"></i>
                                                    </div>
                                                </div>
                            </div>
            </div>
            <% }) %>
    </div>
</section>